<IfModule mod_rewrite.c>
    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Prevent loop if already hitting public
    RewriteRule ^public/ - [L]

    # Handle static files in public
    RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -f
    RewriteRule ^(.*)$ public/$1 [L]

    # Send all other requests directly to public/index.php
    RewriteRule ^(.*)$ public/index.php [L,QSA]
</IfModule>
